@keyframes co-fo-sp1{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(400%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes co-fo-sp2{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes co-fo-sp3{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(400%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes co-fo-sp4{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-400%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes desani{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(3600deg);
    }
}
@keyframes libani{
    0%{
    transform: rotate(0deg)
    }
    100%{
    transform: rotate3d(10, 10, 20, 360deg)
    }
}
@keyframes libaniy{
    0%{
    transform: rotate(0deg)
    }
    25%{
    transform: rotate3d(0, 10, 0, 360deg)
    }
    50%{
    transform: rotate(0deg)
    }
    75%{
    transform: rotate3d(10, 0, 0, 360deg)        
    }
}
@keyframes libanix{
    0%{
    transform: rotate(0deg)
    }
    75%{
    transform: rotate3d(0, 10, 0, 360deg)
    }
    50%{
    transform: rotate(0deg)
    }
    25%{
    transform: rotate3d(10, 0, 0, 360deg)        
    }
}